<h1>æ·»åŠ æ–°ç”¨æˆ·</h1>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<%= form_with model: @user, url: users_path do |form| %>
  <%= form.label :name, "æ˜µç§°" %>
  <%= form.text_field :name, placeholder: "è¯·è¾“å…¥æ˜µç§°" %>
  <br>
  <%= form.label :egg_count, "ðŸ¥šé¸¡è›‹" %>
  <%= form.number_field :egg_count, placeholder: "0" %>ä¸ª
  <br>
  <%= form.label :corn_count, "ðŸŒ½çŽ‰ç±³" %>
  <%= form.number_field :corn_count, placeholder: "0" %>æ ¹
  <br>
  <%= form.submit "æäº¤" %>
<% end %>
