<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if @in_progress_cooking_record %>
  <h1>正在烹饪中</h1>
  开始时间：<%= time_tag @in_progress_cooking_record.created_at, "data-local": "time-ago" %>
  <%= button_to "结束烹饪", finish_cooking_record_path(@in_progress_cooking_record), method: :patch %>
<% else %>
  <%= button_to "开始烹饪", cooking_records_path, method: :post %>
<% end %>
<p>烹饪15分钟后，方可手动结束烹饪。烹饪1小时后，系统会自动结束烹饪记录。</p>
<p>这里暂不提供“薛定谔的鸡蛋和玉米”，所以烹饪期间无法修改食材数量</p>

<% @cooking_records.each do |record| %>
  <p><%= record.operator.name %> <%= time_tag record.created_at, "data-local": "time-ago" %></p>
<% end %>

<h1>今天一共要煮</h1>
<h2>
  <%= turbo_stream_from "total-eggs" %>
  <%= render 'total_eggs', total_eggs: @total_eggs %>
</h2>
<h2>
  <%= turbo_stream_from "total-corn" %>
  <%= render 'total_corn', total_corn: @total_corn %>
</h2>

<br>

<h2>用户列表</h2>
<%= turbo_stream_from "users" %>
<%= render @users %>

<br>

<%= link_to "添加新用户", new_user_path %>
