<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>今天一共要煮</h1>
<h2>
  <%= turbo_stream_from "total-eggs" %>
  <%= render 'total_eggs', total_eggs: @total_eggs %>
</h2>
<h2>
  <%= turbo_stream_from "total-corn" %>
  <%= render 'total_corn', total_corn: @total_corn %>
</h2>

<br>

<h2>用户列表</h2>
<%= turbo_stream_from "users" %>
<%= render @users %>

<br>

<%= link_to "添加新用户", new_user_path %>
